{% extends 'base.html' %}

{% block body %}
  <div id="intro"></div>
    <h1>Hello!</h1>

    <h2>This is Jarvis</h2>

  </div>

  <p>Click the button to talk to Jarvis!</p>

  <div id="buttonDiv">
    <input type="button" id="jarvis-button" value="I" class="not_recording"/>
  </div>

  <div>
    <p id="userWords">You said:</p>
    <p id="response">Jarvis says:</p>
  </div>

  <section><h3>This website is a work in progress!</h3></section>

  <div id="buttonHolder">
    <button id="reset-chat">Clear conversation</button>
    <button id="stop-talking">Stop voice</button>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='recorder.js') }}"></script>
{% endblock %}